body {
  display: flex;
  margin: 0;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  
  background-color: #2d2d2d;
  flex-direction: row;
  
}

.box-1, .box-2, .box-3 {
  padding: 10px;
  align-items: stretch;
  color: white;
  font-size: 20px;
}

.box-1 a {
  color: white;
  font-size: 26px;
  font-family: cursive;
  text-decoration: none;
}

.box-1 {
  padding-left: 50px;
}

.box-2 {
  flex-grow: 1;
}

.box-3 span {
  color: white;
  font-size: 20px;
}

.box-3 {
  padding-right: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

.menu {
  
}

.first-menu {
  padding: 5px;
  font-family: cursive;
  background-color: white;
  font-size: 20px;
  color: black;
}

.menu a {
  text-decoration: none;
}

.menu a div {
  color: black;
  font-size: 20px;
  font-family: cursive;
  text-decoration: none;
  padding-left: 10px;
}

.menu a:hover div {
  background-color: orange;
}

.right-main {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.top-right-main {
  font-family: cursive;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 20px;
  background-color: #2d2d2d;
  margin-bottom: 10px;
}

.container-column-right-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-row-right-main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-row-right-main a {
  text-decoration: none
}

.forvord-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 5px 5px 5px 5px;
}

.forvord-container-img {
  width: 235px;
  display: flex;
  flex-direction: column;
}

.forvord-container-img img {
  margin: 10px 27.5px 10px 27.5px;
  width: 180px;
  height: 180px;
}

.forvord-container-text {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 15px;
  font-family: cursive;
}

.forvord-container-button {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.summa { 
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 20px;
  font-family: cursive;
}

.container-row-right-main a:hover {
  border: 2px solid orange;
}