body {
  display: flex;
  margin: 0;
  flex-direction: column;
}

header {
  display: flex;
  flex-grow: 1px;
  background-color: #4a4a4a;
  flex-direction: row;
  height: 57px;
}

.box-1, .box-2, .box-3 {
  padding: 10px;
  align-items: stretch;
  color: white;
  font-size: 20px;
}

.box-1 a {
  color: white;
  font-size: 26px;
  font-family: cursive;
  text-decoration: none;
}

.box-1 {
  padding-left: 115px;
}

.box-1 a:hover {
  color: orange;
}

.box-2 {
  flex-grow: 1;
}

.box-3 span {
  color: black;
}

.box-3 {
  padding-right: 115px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.box-3 button a {
  text-decoration: none;
  color: black;
}

.formExit {
  display: none;
}

.profil-container {
  display: flex;
  margin-right: 0px;
  margin-left: 52.09px;
  background-color: orange;
  border: 2px solid rgb(145, 97, 9);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  align-items: center;
  height: 28px;
  width: 80px;
  cursor: pointer;
}

.profil-container:hover {
  background-color: rgb(145, 97, 9);
}

.profil-container img {
  padding-left: 5px;
  padding-right: 5px;
}

.profil-menu-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu-container {
  width: 200px;
  margin-left: 78%;
  margin-top: 45px;
  flex-direction: column;
  background-color: orange;
  border: 1px solid rgb(145, 97, 9);
}

.profil-menu-container-1, .profil-menu-container-2, .profil-menu-container-3, .profil-menu-container-4 {
  height: 24px;
  margin: 2px 2px 2px 2px;
  border: 1px solid orange;
  display: flex;
  background-color: orange;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  justify-content: center;
} 

.profil-menu-container-1:hover, .profil-menu-container-2:hover, .profil-menu-container-3:hover, .profil-menu-container-4:hover {
  border: 1px solid rgb(145, 97, 9);
  background-color: rgb(145, 97, 9);
}

.profil-menu-container-3 a {
  color: black;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 115px;
  margin-right: 115px;
}

.menu {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu button {
  display: flex;
  height: 60px;
  background-color: orange;
  border: 1px solid rgb(145, 97, 9);
  border-radius: 0%;
  color: black;
  font-size: 16px;
  font-family: serif;
  cursor: pointer;
}

.menu button:not(:last-child) {
  border-right: none;
}

.menu button:hover {
  background-color: rgb(145, 97, 9);
}

.right-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-right-main {
  font-family: cursive;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 20px;
  background-color: #4a4a4a;
  margin-bottom: 10px;
  border-radius: 5px;
}

.container-column-right-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-row-right-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-row-right-main a {
  text-decoration: none
}

.forvord-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  border: 2px solid white;
}

.forvord-container-img {
  width: 235px;
  display: flex;
  flex-direction: column;
}

.forvord-container-img img {
  margin: 10px 27.5px 10px 27.5px;
  width: 180px;
  height: 180px;
}

.forvord-container-text {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 15px;
  font-family: cursive;
}

.forvord-container-button {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.summa { 
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 20px;
  font-family: cursive;
}

.forvord-container:hover {
  border: 2px solid orange;
  opacity:0.65;
  filter:alpha(opacity=50);
}

footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
}

.footer-box {
  padding: 40px 115px 40px 115px;
  display: flex;
  flex-direction: row;
}

.f-box-1, .f-box-2, .f-box-3, .f-box-4 {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
} 

.f-box-4 {
  padding-right: 0px;
}

.footer-forvord-text {
  color: orange;
  font-family: cursive;
  font-size: 20px;
  margin-bottom: 13px;
}

.footer-text {
  color: white;
  font-family: cursive;
  font-size: 15px;
  margin-bottom: 8px; 
}

.footer-text a {
  text-decoration: none;
  color: white;
}

.footer-text a:hover {
  border-bottom: 1px solid white;
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  padding-bottom: 40px;
  color: white;
  font-family: cursive;
  font-size: 13px;
}

button {
  background-color: rgb(252, 166, 6);
  border: 1px solid rgb(170, 112, 3);
  color: black;
  font-size: 16px;
  border-radius: 3px;
  font-family: serif;
}

button:hover {
  background-color: rgb(145, 97, 9);
  color: black;
}

#modalWin {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none; 
  background-color: rgb(0,0,0);  
  background-color: rgba(0,0,0,0.4);  
}

.modal-container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
  box-shadow: 5px 10px 5px #666;
}

.modal-container h2 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container form button {
  margin-top: 10px;
}

.login-win {
  margin: 0px 5px 0px 5px;
}

.login-win input {
  text-align: center;
  height: 32px;
  width: 250px;
}

.email-win {
  margin: 10px 5px 0px 5px;
}

.email-win input {
  text-align: center;
  height: 32px;
  width: 250px;
}

.password-win {
  margin: 10px 5px 0px 5px;
}

.password-win input {
  text-align: center;
  height: 32px;
  width: 250px;
}

.top-main {
  margin-top: 10px;
  font-family: cursive;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 20px;
  background-color: #4a4a4a;
  margin-bottom: 10px;
  border-radius: 5px;
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 1183px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 5px 5px 5px 5px;
}

.left-tc {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  padding-top: 5px;
  padding-right: 18px;
  font-family: cursive;
  color: black;
  font-size: 18px;
}

.right-tc {
}

.text-header {
  font-size: 16px;
  height: 22px;
  width: 600px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 6px 7px;
}

.heading-tc {
  font-size: 16px;
  height: 36px;
  width: 300px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 6px 7px;
}

.text-prices {
  font-size: 16px;
  height: 22px;
  width: 100px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 6px 7px;
}

.text-area {
  font-family: sans-serif;
  font-size: 16px;
  height: 200px;
  width: 500px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 6px 7px;
}

.cod-product {
  font-size: 16px;
  height: 22px;
  width: 300px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 6px 7px;
}

.add-img-file {
  padding-top: 8px;
}

#result {
  padding-top: 10px;
  display: flex;
  width: 180px;
  height: 180px;
}